body
{
	background-image: url('img/bg1.jpg');
	background-size: 1280px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#window
{
	border: 1px solid black;
	width: 700px;
	height: 420px;
	/*margin: auto;*/
	background-color: white;
	border-radius: 10px;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*margin-top: -1000px;*/
	position: absolute;
	right: 50%;
	left: 50%;
	margin-left: -350px;
	top: 105px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	opacity: 0.9;
}

#close
{
	float: right;
	margin-top: 3px;
	margin-right: 2px;
	cursor: pointer;
	border-radius: 20px;
}

#text
{
	position: relative;
	bottom: -90px;
	right: 20px;
}

#date
{
	position: relative;
	bottom: -110px;
}

#main
{
	border: 1px solid black;
	width: 900px;
	min-height: 450px;
	/*margin: auto;*/
	background-color: white;
	border-radius: 10px;
	/*position: absolute;*/
	/*top: 0px;*/
	/*right: 300px;*/
	/*left: 50%;*/
	/*text-align: center;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: -1000px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	/*opacity: 0.9;*/
}

/*#p_perevod
{
	margin-top: 40px;
	margin-left: 50px;
}

#p_perevod, select, input
{
	font-size: 19px;
}*/

#table_content p, select, input, b
{
	font-size: 19px;
}

#table_content
{
	margin-left: 70px;
	margin-top: 30px;
	width: 750px;
}

#translate, #save
{
	color: white;
	background-color: #0672FF;
	border-radius: 15px;
	margin: 0 auto;
	margin-top: 30px;
	/*position: relative;*/
	/*top: 100px;*/
	border: 1px solid blue;
	width: 180px;
	text-align: center;
	height: 26px;
	vertical-align: middle;
	padding-top: 2px;
	cursor: pointer;
	font-size: 20px;
}

#translate:hover, #save:hover
{
	border: 1px solid black;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#table_content b
{
	/*margin-top: 40px;*/
	vertical-align: bottom;
	font-size: 20px;
}

#main a
{
	color: blue;
	text-decoration: none;
	font-size: 19px;
	color: black;
}

#main a:hover
{
	text-decoration: underline;
}

#about
{
	margin-top: 70px;
	margin-left: 40px;
}

.fraction
{
	width: 70px;
	height: 30px;
	font-size: 18px;
	text-align: center;
}

#res
{
	/*border: 1px solid yellow;*/
	display: block;
	/*position: relative;*/
	width: 400px;
	/*vertical-align: middle;*/
	/*max-width: 100px;*/
	/*min-height: 40px;*/
	text-align: left;
	overflow-x: auto;
}

#formula p
{
	/*font-weight: 800;*/
	font-size: 24px;
}

#end
{
	position: absolute;
	top: -1000px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
}

#end_content
{
	position: absolute;
	top: -1000px;
	/*color: white;*/
	border: 1px solid white;
	width: 702px;
	height: 200px;
	left: 290px;
	/*right: 50%;*/
	/*margin-top: 700px;*/
	/*z-index: 10;*/
	/*opacity: 1.5;*/
	/*display: inline-block;*/
	text-align: center;
	/*margin: auto;*/
	background-color: white;
	border-radius: 10px;
	border: 1px solid black;
}

.control_panel
{
	color: white;
	background-color: #0672FF;
	border-radius: 15px;
	margin: 0 auto;
	margin-top: 30px;
	/*position: relative;*/
	/*top: 100px;*/
	border: 1px solid blue;
	width: 180px;
	text-align: center;
	height: 26px;
	vertical-align: middle;
	padding-top: 2px;
	cursor: pointer;
	font-size: 20px;
}

.control_panel:hover
{
	border: 1px solid black;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}