body {
	background-color: #e8ebec;
}

.container {
	padding: 0;
}

.container div {
	padding: 0;
}

.col-lg-8 {
	padding: 0;
}

.navbar_rating {
	background-color: white;
	border-color: white;
}

.navbar_nav_rating li a {
	background-color: white !important;
	border-color: white;
}

.header1_tr {
	display: inline-block;
	margin-top: 6px;
	float: right;
    margin-left: 10px;
}

#panelcontainer {
	margin-top: 4px;
	margin-left: 15px;
	/* width: 222px; */
	/* height: 22px; */
	float: right;
}

#link_logout {
	display: inline-block;
	float: right;
}

.header2_navbar {
	float: right;
}

@media (max-width: 991px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-text {
		float: none;
		margin: 15px 0;
	}
	.navbar-collapse.collapse.in { 
		display: block!important;
	}
	.collapsing {
		overflow: hidden!important;
	}


	#responsive-menu {
		margin-left: 20px;
	}
}





@media screen and (min-width: 768px) and (max-width: 991px) {
	#responsive-menu {
		margin-top: 65px !important;
	}
}

/*#link_account {
margin-left: 30px;
color: #4b2e89;
}*/

@media (max-width: 1080px) {
	#link_account, #link_logo {
		margin-left: 10px;
	}
}

@media (max-width: 1020px) {
	#link_logo {
		margin-left: 0px;
	}
}

@media screen and (min-width: 1080px) and (max-width: 1200px) {
	#link_logo {
		margin-left: 30px;
	}
}

#responsive-menu {
	margin-top: 10px;
	overflow: visible;
}

.container-fluid {
	padding: 0;
	width: 100%;
	margin: 0;
}

.row {
	margin: 0;
}

#header1 {
	border-bottom: 1.5px solid #dfe3f2;
	padding: 5px;
	padding: 0;
	min-width: 430px;
	max-height: 34px;
}

#header2, #header2 div {
	padding: 0;
}

#header1 div p, #header1 div a {
	/*margin: 0px;*/
}

#header1 div a {
	color: #6f7994;
}

#header1, #header2 {
	background-color: white;
}

#header2 {
	min-width: 430px;
}

#div_main_menu ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

#div_main_menu ul li {
	display: inline;
}

#div_main_menu ul a {
	text-decoration: none;
	/*margin-right: -4px;*/
	color: black;
}

#div_main_menu ul a:hover {
	text-decoration: underline;
}

#index_purple_block {
	min-width: 431px;
	height: 420px;
	background-image: url("../img/opening.png");
	background-position: center bottom;
	background-size: cover;
    background-position: center bottom;
}

@media screen and (max-width: 767px) {
	#index_purple_block {
		background-image: url("../img/opening.620.png");
		height: 520px;
	}

	#container_counter {
		height: 200px !important;
		margin-top: -30px !important;
	}

	#container_tagline {
		margin-top: 40px !important;
	}
}

#container_counter {
	/*border: 1px solid black;*/
	height: 400px;
	width: 360px;
	margin: 0 auto;
}

#container_counter span, #container_counter div {
	text-align: center;	
}

#container_counter span {
	display: block;
	color: #81559f;
	font-size: 14px;
	margin-top: 80px;
}

#container_counter div {
	display: inline-block;
	width: 100%;
	color: white;
	font-size: 160px;
	border-top: 1px solid #8660a7;
	border-bottom: 1px solid #8660a7;
	height: 180px;
	vertical-align: middle;
	/*padding-top: -40px;*/
}

#container_counter div p {
	height: 100%;
	margin: -22px 0 0 0;
}

#container_tagline {
	margin: 0 auto;
	margin-top: 110px;
	/*height: 400px;*/
	width: 360px;
}

#container_tagline p {
	color: white;
	font-size: 22px;
}

#container_tagline div, #container_tagline button {
	border: 0;
	outline: 0;
	background-color: #8759a2;
	color: white;
	float: left;
	font-size: 18px;
	width: 180px;
	text-align: center;
	height: 40px;
	padding-top: 8px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
}


#importance {
	margin-top: 60px;
	padding: 0;
}

#importance div {
	padding: 0;
}

#importance h1 {
	color: #8759a2;
	text-align: center;
}

#importance p {
	margin-top: 20px;
	/*padding: 0 120px 0 120px;*/
	max-width: 100%;
	text-align: center;
	width: 100%;
	padding: 0;
}

#importance p, #importance h1 {
	min-width: 430px;
}

#slider {
	height: 300px;
	max-height: 300px;
	min-width: 431px;
	margin-top: 40px;
}

.slider_first_tr {
	/*border: 1px solid black;*/
	height: 100px;
}

.slider_first_tr div i {
	font-size: 22px;
	font-weight: bold;
	/*position: relative;*/
	padding-top: 40px;
	padding-left: 60px;
	/*width: 700px;*/
	padding-right: 40px;
	display: inline-block;
}

.slider_second_tr {
	height: 200px;
	max-height: 200px;
}

.slider_second_tr #author {
	height: 60px;
	/*margin-top: -60px;*/
	position: relative;
	top: -100px;
	left: 60px;

}

@media screen and (max-width: 991px) {
	.slider_second_tr #author {
		top: 30px;
	}
}

@media screen and (min-width: 520px) and (max-width: 618px) {
	.slider_second_tr #author {
		/*top: 30px;*/
	}
}

@media screen and (max-width: 767px) {
	.hidden-sm {
		display: none;
	}

	.slider_first_tr i {
		padding-right: 80px !important;
	}

	#importance p {
		padding: 0 20px 0 20px;
	}

	#container_tagline div {
		margin: 20px auto;
		float: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.slider_first_tr i {
		width: 700px;
	}
}

@media screen and (max-width: 520px) {
	.slider_first_tr div i {
		padding-left: 20px;
		padding-top: 40px;
		padding-right: 40px !important;
		font-size: 18px;
	}

	.slider_second_tr #author {
		top: 50px;
		left: 20px;
		font-size: 14px;
	}

	.personal_value {
		padding-left: 15px !important;
	}
}




#line {
	height: 20px;
	background-image: url("../img/line.png");
	width: 100%;
	margin-top: 70px;
	min-width: 430px;
}

#container_group {
	text-align: center;
	min-width: 430px;
	padding: 0;
}

#container_group div {
	/*border: 1px solid black;*/
	white-space: nowrap;
}

#container_group h1 {
	font-size: 60px;
}

.group {
	float: none;
	height: 80px;
	min-width: 390px;
	max-width: 1008px;
	padding: 0;
}

.btn_group {
	float: left;
	border: 1px solid black;
	margin: 10px 10px 0 10px;
	height: 30px;
	padding: 4px 7px 0 7px;
	background-color: white;
	border-radius: 10px;
	color: black;
	border: 1.3px solid #9f74b2;
	/*width: 20%;*/
	min-width: 175px;
	/*max-width: 175px;*/
}

.btn_group_active, .btn_group:hover {
	background-color: #9f74b2;
	color: white;
}

.btn_group:hover {
	cursor: pointer;
}

.btn_group2 {
	display: inline-block;
	background-color: white;
	border: 1.3px solid #9f74b2;
	height: 30px;
	min-width: 150px;
	vertical-align: middle;
	border-radius: 10px;
}

.btn_group2 b {
	position: relative;
	top: 2px;
}

.btn_group_selected {
	background-color: #9f74b2;
	color: white;
}

.btn_group_selected b {
	font-weight: normal;
}

#div_my_position {
	margin-top: 40px;
	padding: 0;
}

#link_my_position a {
	width: 100%;
	text-align: center;
	color: #9f74b2;
	text-decoration: underline;
	font-size: 24px;
	/*border: 1px solid black;*/
	font-weight: bold;
	cursor: pointer;
}

#link_my_position a:hover {
	text-decoration: none;
}

#myPlace {
	border: 1px solid #9f74b2;
}

#first_tr {
	margin-top: 40px;
	border-top: 1px solid #c9cbcd;
	padding-top: 10px;
}

/*#first_tr .row {
	height: 30px;
}*/

#first_tr div {
	/*border: 1px solid black;*/
}

.first_tr_value {
	font-size: 14px;
	text-align: center;
	line-height: 1em;
	font-weight: 500;
}

#profile_jurist {
	font-size: 14px;
	color: #9f74b2;
	font-weight: bold;
}

.rating_tr {
	background-color: white;
}

.rating_tr div {
	/*border: 1px solid black;*/
}

.rating_tr_value {
	font-size: 22px;
	text-align: center;
}

.rating_tr_value .personal_value {
	position: relative;
	top: 5px;
}

.rating_tr_value .personal_value span {
	display: inline-block;
	float: left;
	font-size: 24px;
	font-weight: bold;
}

.rating_tr_value .personal_value p {
	font-size: 18px;
	text-align: left;
	/*display: block;*/
}

.additional_info {
	padding-top: 32px !important;
}

@media screen and (min-width: 1035px) and (max-width: 1352px) {
	.group {
		max-width: 980px;
	}
}

@media screen and (min-width: 840px) and (max-width: 1035px) {
	.group {
		max-width: 785px;
	}
}

@media screen and (min-width: 645px) and (max-width: 840px) {
	.group {
		max-width: 585px;
	}
}

@media screen and (max-width: 645px) {
	.group {
		max-width: 390px;
	}
}


@media screen and (min-width: 768px) and (max-width: 992px) {
	#container_tagline {
		padding-left: 20px;
	}
}